*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.hero
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,#32a54d,#0b0bad);
    color: #fff;
}
.hero #h1{
    position: absolute;
    left:42%;
    margin:4% 0;
}
.container{
    width:60%;
    height: 30%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.clock{
    width:100%;
    height:100%;
    background: rgba(235,0,255,0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(45px);
}
.container::before{
    content: '';
    background-color: red;
    width: 19%;
    height: 80%;
    border-radius: 5px;
    position: absolute;
    top:-30%;
    left:-10%;
    z-index: -1;

}
.container::after{
    content: '';
    background-color: aqua;
    width: 19%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    bottom: -30%;
    right:-10%;
    z-index: -1;
}
.clock span{
    font-size: 5em;
    width: 15%;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    font-size: 1rem;
    position: absolute;
    bottom: -5%;
    left:50%;
    transform: translateX(-50%);
}
#hrs::after{
    content: 'Hours';
}
#mins::after{
    content: 'Minutes';
}
#sec::after{
    content: 'Seconds';
}